# Mercury Service
PROJECT_NAME="Mercury Admin Service"
DEBUG=true

# Postgres
POSTGRES_HOST=mercury-postgres
POSTGRES_PORT=5432
POSTGRES_DB=mercury
POSTGRES_APP_USER=mercury_app
POSTGRES_APP_PASSWORD=<set-in-.env>
POSTGRES_OWNER_USER=mercury_owner
POSTGRES_OWNER_PASSWORD=<set-in-.env>

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
ALLOW_EMPTY_PASSWORD=yes

# JWT Auth
AUTHJWT_SECRET_KEY=secret

# Jaeger Tracing
JAEGER_TRACE=true
JAEGER_AGENT_HOST=jaeger
JAEGER_AGENT_PORT=6831
